<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" 
             alt="Bootstrap" loading="lazy">
            Bootstrap
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item "><a href="" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link disabled">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link"  [matMenuTriggerFor]="settingsMenu">User</a>
                    <mat-menu #settingsMenu>
                        <menu mat-menu-item>Profile</menu>
                        <menu mat-menu-item>Account</menu>
                    </mat-menu>
                </li>
            </ul>
            <ul class="navbar-nav" style="padding-left:600px;">
                <li>
                <li class="nav-item"><a href="#" class="nav-link">
                    Sign Up</a></li>
                <li class="nav-item"><a href="#" class="nav-link" >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon></a></li>
            </ul>
        </div>
        </div>
    </nav>
</header><br>
<div>
<div class="col" style="margin-top: 50px;">
    <div class="row">
        <header>
    <mat-form-field appearance="outline" style="width:150px;height:50px;">
    <mat-label>Select</mat-label>
        <mat-select  [(ngModel)]="Plant" (selectionChange)="somethingChanged($event.value)">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
        </mat-select>
    </mat-form-field></header>
    </div>
</div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  *ngIf="viewtable" >
        <ng-container matColumnDef="POSITION">
          <th mat-header-cell *matHeaderCellDef>POSITION </th>
          <td mat-cell *matCellDef="let element"> {{element.POSITION}} </td>
        </ng-container>
        <ng-container matColumnDef="RESIDUES">
          <th mat-header-cell *matHeaderCellDef>RESIDUES </th>
          <td mat-cell *matCellDef="let element"> {{element.RESIDUES}} </td>
        </ng-container>
        <ng-container matColumnDef="MUTATIONS">
          <th mat-header-cell *matHeaderCellDef>MUTATIONS </th>
          <td mat-cell *matCellDef="let element"> {{element.MUTATIONS}} </td>
        </ng-container>
        <ng-container matColumnDef="EXON_NO">
          <th mat-header-cell *matHeaderCellDef> EXON_NO </th>
          <td mat-cell *matCellDef="let element"> {{element.EXON_NO}} </td>
        </ng-container>
        <ng-container matColumnDef="CLASS">
            <th mat-header-cell *matHeaderCellDef> CLASS </th>
            <td mat-cell *matCellDef="let element"> {{element.CLASS}} </td>
          </ng-container>
          <ng-container matColumnDef="DISTRIBUTION">
            <th mat-header-cell *matHeaderCellDef> DISTRIBUTION </th>
            <td mat-cell *matCellDef="let element"> {{element.DISTRIBUTION}} </td>
          </ng-container>
          <ng-container matColumnDef="CODON_CHANGE">
            <th mat-header-cell *matHeaderCellDef> CODON_CHANGE </th>
            <td mat-cell *matCellDef="let element"> {{element.CODON_CHANGE}} </td>
          </ng-container>
          <ng-container matColumnDef="ONSET">
           <th mat-header-cell *matHeaderCellDef> ONSET </th>
            <td mat-cell *matCellDef="let element"> {{element.ONSET}} </td>
          </ng-container>
          <ng-container matColumnDef="STABILITY">
            <th mat-header-cell *matHeaderCellDef> STABILITY </th>
            <td mat-cell *matCellDef="let element"> {{element.STABILITY}} </td>
          </ng-container>
          <ng-container matColumnDef="ABS">
            <th mat-header-cell *matHeaderCellDef> ABS </th>
            <td mat-cell *matCellDef="let element">{{element.ABS}}</td>
          </ng-container>
          <ng-container matColumnDef="DATE">
            <th mat-header-cell *matHeaderCellDef> DATE </th>
            <td mat-cell *matCellDef="let element">{{element.DATE}}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row;">
          <button mat-fab extended (click)="Opendialog()"> 
            <mat-icon>edit</mat-icon>        
          </button></td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
</div></div>
